<div class="jumbotron" style="background-color: #D0D0D0">
  <h1>Contact List</h1>
  <p>
    Gerencie seus contatos em qualquer lugar!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', "#", class: 'btn btn-primary btn-lg' %>
  </p>
</div>