<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to 'Contact List', root_url, class: 'navbar-brand', style: "color: #696969"%> 
      <%= link_to 'Nova Conta', new_user_path, class: 'navbar-brand' %>
      
    </div>

    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" class="btn btn-outline-secondary">Entrar</button>
        </li>
      </ul>
    </div>

  </div>
</nav>

